<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="output.css">
    <link href="output.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/82eb69e53c.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body class="ml-20 mr-20 mt-10 bg-[url(images/waves.svg)] bg-cover bg-no-repeat bg-center">
    <div class="flex flex-col lg:flex-row justify-between items-center font-jet-mono">
        <div>
            <p class="text-base lg:text-xl tracking-widest">Password Keeper</p>
        </div>
        <br>
        <div class="flex flex-col md:flex-row gap-4 text-center lg:gap-10 text-xs lg:text-sm tracking-wide items-center">
            <a class="hover:text-[#3D3C42]" href="/">Home</a>
            <a class="hover:text-[#3D3C42]" href="/save">Add Password</a>
            <a class="hover:text-[#3D3C42]" href="/library">My Passwords</a>
            <a class="hover:text-[#3D3C42]" href="/login">Login</a>
            <a class="hover:text-[#3D3C42]" href="/signup">Signup</a>
            <a class="hover:text-[#3D3C42]" href="/logout">Logout</a>
        </div>
    </div>