<%- include('partials/nav') %>
    <div class="flex justify-center items-center font-jet-mono min-h-[80vh] flex-col text-center">
        <p class="text-2xl">Save your passwords on the go!</p>
        <p class="text-red-600"><i class="fa-solid fa-triangle-exclamation pr-2"></i>Project made for demonstration purposes.<i class="fa-solid fa-triangle-exclamation pl-2"></i></p>
        <br>
        <button onclick="redirect()" class="p-2 bg-green-500 rounded-lg text-white">Get Started<i class="fa-solid fa-arrow-right pl-2"></i></button>
    </div>
<%- include('partials/foot') %>